h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 10px;
}

#gameboard {
    width: 498px;
    height: 498px;
    margin: auto;
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(3, 166px);
    grid-template-rows: repeat(3, 166px);
}

.cells {
    border: 1px solid;
}

#cell_1, #cell_2, #cell_4, #cell_5, #cell_7, #cell_8 {
    border-right-width: 0;
}

#cell_1, #cell_2, #cell_3, #cell_4, #cell_5,#cell_6 {
    border-bottom:  0;
}