h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 10px;
}

#gameboard {
    width: 498px;
    height: 498px;
    background-color: orange;
    margin: auto;
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(3, 166px);
    grid-template-rows: repeat(3, 166px);
}

.cells {
    border: 1px solid;
}